* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    /* border: 1px solid white; */
    color: #00000099;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to right bottom, #313030, #4c4747, #2d5334, #2e2a2a, #161616);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    overflow: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid black; */
    z-index: 1;
}

h1 {
    text-shadow: 0 0 5px #1d1d1d;
}

p {
    text-shadow: 0 0 5px #1d1d1d;
    line-height: 1.5em;
}
/* Nav bar */

.nav-bar {
    position: fixed;
    top: 20px;
    left: 20px;
}

.nav-top {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #67ff832c;
    border-radius: 10px ;
    box-shadow: 5px 5px 20px#1d1d1d;
    transition: height 300ms ease-in-out;
}



.check {
    display: flex;
    text-shadow: 0 0 2px #d8d6d680;
    place-content: center;
    place-items: center;
    font-size: 3em;
    user-select: none;
    width: 60px;
    height: 60px;
    padding: 0 0 18px 0;
    color: #99999999;
    transition: color 350ms ease-in-out, text-shadow 350ms ease-in-out;
}

.check:hover {
    color: #d8d6d6;
    text-shadow:0 0 10px #d8d6d680;
}

.checked {
    color: #d8d6d6;
    text-shadow:0 0 10px #d8d6d680
}
.nav-extend {
    height: 380px;
}

.nav-bar ul {
    position: fixed;
    margin-top: 62px;
    display: none;
    transition: display 350ms ease-in-out;
}
.nav-top a {
    color: #99999999;
    text-decoration: none;
}

.nav-top i {
    color: #99999999;
    transition: color 350ms ease-in-out;
    transform: scale(0.75);
}

.nav-top i:hover {
    color: #d8d6d6;
}

.nav-top a:hover {
    color: #d8d6d6;
}

.nav-bar ul li {
    text-align: center;
    list-style: none;
    font-size: 1em;
    margin-bottom: 20px;
    user-select: none;
}

/* 
.nav-bottom {
    position: relative;
    bottom: 8px;
    width: 50px;
    height: 0;
    background-color: #2d5334;
    transition: all 300ms ease-in-out;
    border-radius: 0 0 10px 10px;
} */




/* Hero Page */

.hero h1 {
    font-family: 'Zen Tokyo Zoo';
    font-size: 7em;
    user-select: none;
}

.hero p {
    font-size: 2em;
    max-width: 265px;
    user-select: none;
}

/* About Page */

.about p {
    font-size: 1.15em;
    max-width: 700px;
    letter-spacing: 0.03em;
    margin: 10px 0 0 0;
}

/* Projects */

.projects p {
    font-size: 1.15em;
    max-width: 700px;
    letter-spacing: 0.03em;
    margin: 10px 0 0 0;
}

.projects a {
    color: #99999999;
}

.projects a:hover {
    color: #999999;
}

.project a:hover {
    color: #d8d6d6;
}

.projectContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
    max-width: 800px;
}

.project {
    margin: 10px;
    width: 350px;
    border: 4px solid #0e0d0d85;
    border-radius: 7px;
    box-shadow: 5px 5px 20px#1d1d1d;
    padding: 10px;
    transition: border 600ms ease-in-out, border-radius 500ms ease-in-out;
}

.project:hover {
    border: 4px solid #999999;
    border-radius: 10px;
}

.project:hover h2 {
    color: #111111;
}

.project:hover p {
    color: #111111;
}

.project p,
h2,
a {
    transition: color 500ms ease-in-out;
}

.project a {
    color: #99999999;
}

.project a:hover {
    color: #d8d6d6;
}

.project p {
    font-size: 1.1em;
    margin: 5px;
    line-height: 1.25em;
}



/* Skills */

.skills ol {
    max-width: 700px;
    padding: 10px 30px 30px 30px;
    font-size: 1.15em;
    list-style: none;
    text-shadow: 0 0 10px #1d1d1d;
}

.skills ol>li {
    margin-bottom: 20px;
}

.listTitle {
    font-size: 1.15em;
}

ul li {
    list-style-type: "- ";
}

/* Contact */

.contact p {
    font-size: 1.15em;
    max-width: 700px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 15px 0 0 0;
}

.formcarry-container {
    display: block;
    width: 650px;
    margin-top: 20px;
}

.formcarry-form label {
    display: block;
    font-size: 1.15em;
    padding: 12px 0 2px 0;
    text-shadow: 0 0 10px #1d1d1d;
}

.formcarry-form input,
textarea {
    width: 100%;
    border-radius: 7px;
    border-color: transparent;
    background-color: #99999999;
    box-shadow: 5px 5px 20px#1d1d1d;
    color: #11111199;
    outline: none;
    text-transform: none;
    padding: 7px;
    font-size: 1.1em;
    transition: border-radius 500ms ease-in-out, background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.formcarry-form input:focus,
.formcarry-form textarea:focus {
    border-radius: 12px;
    background-color: #d4d1d1;
    color: #111111;
}

.formcarry-form button {
    display: block;
    padding: 5px 10px;
    margin: 12px 0 0 0;
    font-size: 1.2em;
    border-color: transparent;
    border-radius: 7px;
    background-color: #99999999;
    box-shadow: 5px 5px 20px#1d1d1d;
}

.formcarry-form button:hover {
    border-radius: 12px;
    background-color: #d4d1d1;
    transition: border-radius 500ms ease-in-out, background-color 500ms ease-in-out;
}

.formcarry-alert {
    background-color: black;
}



@media screen and (max-width: 400px) {
    .nav-bar {
        position: fixed;
        top: 20px;
        left: 320px;
    }
   
    
    .about h1 {
        place-self: flex-start;
    }

    .projects h1 {
        place-self: flex-start;
    }

    .skills h1 {
        place-self: flex-start;
    }

    .contact h1 {
        place-self: flex-start;
    }

    .contact p {
        text-align: left;
    }

    .formcarry-container {
        width: 370px;
    }
}